<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API Automation Test Suite" verbose="1" parallel="methods" thread-count="2">
    <parameter name="env" value="qa"/>
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="Login feature functionality" enabled="true">
        <classes>
            <class name="com.automation.runners.TestRunner">
            </class>
        </classes>
    </test>
    
</suite>